@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Open Sans';
    scroll-behavior: smooth;
  }
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.card-box-shadow {
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
}

ul {
  @apply mt-7 flex flex-col gap-y-4 list-outside list-disc pl-5;
}

.hero-container {
  animation: 1s ease-out 0s 1 hero-animation;
}

@keyframes hero-animation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-container {
  animation: 1s ease-out 0s 1 nav-animation;
}

@keyframes nav-animation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.link-hover:hover + div {
  width: 100%;
}

.markdown-wrapper {
  @apply text-lg flex flex-col gap-y-4 w-4/5 mx-auto;
}

.markdown-wrapper pre {
  @apply bg-primary py-1 rounded-md;
}

.markdown-wrapper code {
  @apply bg-primary text-black py-1 px-2 rounded-md;
}

.markdown-wrapper h2 {
  @apply text-3xl border-b-primary border-b w-fit;
}

.markdown-wrapper h3 {
  @apply text-2xl;
}

.markdown-wrapper ul {
  @apply mt-0;
}
